.ng-tns-c1-0 {
    text-align: center !important;
}

.ng-tns-c1-1 {
    text-align: center !important;
}

.ng-tns-c1-2 {
    text-align: center !important;
}

.ng-tns-c1-3 {
    text-align: center !important;
}