<form novalidate [formGroup]="user">
    <label>
    <span>SU nombre</span>
    <input
      type="text"
      placeholder="Your full name"
      formControlName="name">
  </label>
    <label>
      <span>Email</span>
      <input
        type="password"
        placeholder="Your passwornd"
        formControlName="password">
    </label>
    <label>
      <span>Confirmar email</span>
      <input
        type="password"
        placeholder="Confirm your password"
        formControlName="passwordRepeat">
    </label>
    <button type="submit" [disabled]="user.invalid">Sign up</button>
</form>

<div class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
    <strong>Nombre requerido</strong>
</div>



<router-outlet></router-outlet>